.d-inline-block {
	margin-right: 30px;
}

.sudoku-board,
.numbers-palatte {
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px;
}

.sudoku-board {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

colgroup,
tbody {
	border: solid medium;
}

td {
	border: solid thin;
	height: 50px;
	width: 50px;
	text-align: center;
	padding: 0;
}

.numbers-palette-table td {
	border: solid medium;
}

td:hover {
	background-color: #f5dd90;
}

.user-input {
	background-color: #f2f2f2;
}

.error {
	background-color: #f76c5e;
}
